h1{
	background: #3d3d3d ;
	font-size: 250%

}
header {
	background: #666666 ;
	text-align: center ;

}
h1{
	color: #FFFFFF ;
	text-align: center ;

}
nav{
	font-variant: small-caps;
	font-size: 150%;
	font-family:Arial,"Time New Roman",serif;
	
}
h2{
	color: #666666;
	background: #00B7EA;
	
}
p{
	font-style: normal ;
	font-size: 150%;
	

}
details{
	font-style: normal ;
}
summary{
	font-style: normal ;
}
footer{
	background: #666666 ;
	
}
aside{
	display:none;
}

html{
	background: #E6E6FA ;
}
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}